<div class="main-container">
    <div class="header-container" style="background: url('../assets/images/how-to-sell/como vender.svg'), lightgray 50% / cover no-repeat;">
        <div class="breadcrumb">
            <ul>
                <li><a >Cómo vender</a></li>
                <img src="assets\images\iconos-generales\ArrowRight.svg" alt="">
                <li>Sube tu producto</li>
            </ul>
        </div>
        <div class="title-container">
            <p class="title">VENDE TUS PRODUCTOS</p>
            <p class="subtitle">Si quieres subir tu producto a la página, rellena el siguiente formulario y ¡Listo!</p>
        </div>
    </div>
    <div class="body-card">
        <p class="card-title">2. Súbe tu producto</p>
        <div class="header-div">
            <img src="assets/images/how-to-sell/sube tu producto icono.svg" alt="">
            <p class="header-p">Puedes subir hasta 6 fotos</p>
            <button class="button next"><p>Subir fotos</p></button>
        </div>
        <div class="card-contain">
            <div class="form-field">
                <p class="form-field-label">Título</p>
                <input class="form-field-input" placeholder="">
                <div class="hint-div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="667" height="2" viewBox="0 0 667 2" fill="none">
                        <path d="M0.0324707 0.876892H666.032" stroke="black"/>
                    </svg>
                    <p class="form-field-hint">Escribe por lo menos 10 letras</p>
                </div>
            </div>
            <div class="form-field">
                <p class="form-field-label">Precio del producto</p>
                <input class="form-field-input" placeholder="$">
                <div class="hint-div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="667" height="2" viewBox="0 0 667 2" fill="none">
                        <path d="M0.0324707 0.876892H666.032" stroke="black"/>
                    </svg>
                    <p class="form-field-hint">Escribe el precio </p>
                </div>
            </div>
            <div class="form-field">
                <p class="form-field-label">Categoría</p>
                <select class="select"  id="" style="background-image: url(assets/images/iconos-generales/ArrowDown2.svg)">
                    <option value="" disabled selected>   Elige una categoría</option>
                </select>
            </div>
            <div class="form-field">
                <p class="form-field-label">Ubicación</p>
                <div class="double-select">
                    <select class="select"  id="" style="background-image: url(assets/images/iconos-generales/ArrowDown2.svg)">
                        <option value="" disabled selected>Selecciona Región</option>
                    </select>
                    <select class="select"  id="" style="background-image: url(assets/images/iconos-generales/ArrowDown2.svg)">
                        <option value="" disabled selected>Selecciona Comuna</option>
                    </select>
                </div>
            </div>
            <div class="form-field">
                <p class="form-field-label">Descripción de producto</p>
                <input class="form-field-input" placeholder="">
                <div class="hint-div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="667" height="2" viewBox="0 0 667 2" fill="none">
                        <path d="M0.0324707 0.876892H666.032" stroke="black"/>
                    </svg>
                    <p class="form-field-hint">Escribe por lo menos 20 letras</p>
                </div>
            </div>
            <div class="form-field">
                <p class="form-field-label">Estado del Producto</p>
                <select class="select"  id="" style="background-image: url(assets/images/iconos-generales/ArrowDown2.svg)">
                    <option value="" disabled selected>Elige el estado del producto</option>
                </select>
            </div>
            <div class="dimensions-div">
                <p class="form-field-label">Dimensiones (Opcional)</p>
                <div class="dimensions-div-row">
                    <div class="dimension-div">
                        <p class="form-field-label-mini">Largo</p>
                        <div class="medida-div">
                            <div class="form-field-mini">
                                <input class="form-field-input" placeholder="X cm">
                                <div class="hint-div">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="139" height="2" viewBox="0 0 139 2" fill="none">
                                        <path d="M0.0324707 0.876892L138.757 0.87688" stroke="black"/>
                                    </svg>
                                    <p class="form-field-hint">Escribe los cm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dimension-div">
                        <p class="form-field-label-mini">Ancho</p>
                        <div class="medida-div">
                            <div class="form-field-mini">
                                <input class="form-field-input" placeholder="X cm">
                                <div class="hint-div">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="139" height="2" viewBox="0 0 139 2" fill="none">
                                        <path d="M0.0324707 0.876892L138.757 0.87688" stroke="black"/>
                                    </svg>
                                    <p class="form-field-hint">Escribe los cm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dimension-div">
                        <p class="form-field-label-mini">Alto</p>
                        <div class="medida-div">
                            <div class="form-field-mini">
                                <input class="form-field-input" placeholder="X cm">
                                <div class="hint-div">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="139" height="2" viewBox="0 0 139 2" fill="none">
                                        <path d="M0.0324707 0.876892L138.757 0.87688" stroke="black"/>
                                    </svg>
                                    <p class="form-field-hint">Escribe los cm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dimensions-div-row">
                    <div class="dimension-div">
                        <p class="form-field-label-mini">Peso</p>
                        <div class="medida-div">
                            <div class="form-field-mini">
                                <input class="form-field-input" placeholder="X Kg">
                                <div class="hint-div">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="139" height="2" viewBox="0 0 139 2" fill="none">
                                        <path d="M0.0324707 0.876892L138.757 0.87688" stroke="black"/>
                                    </svg>
                                    <p class="form-field-hint">Escribe los kg</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <p class="form-field-label">Estado de la venta</p>
                <select class="select"  id="" style="background-image: url(assets/images/iconos-generales/ArrowDown2.svg)">
                    <option value="" disabled selected>Tipo de venta</option>
                </select>
            </div>
            <div class="form-field">
                <p class="form-field-label">Precio referencial nuevo (Opcional)</p>
                <input class="form-field-input" placeholder="$">
                <div class="hint-div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="667" height="2" viewBox="0 0 667 2" fill="none">
                        <path d="M0.0324707 0.876892H666.032" stroke="black"/>
                    </svg>
                    <p class="form-field-hint">Escribe el precio </p>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            <button class="button cancel" (click)="back()">
                <p>Cancelar</p>
            </button>
            <button class="button next" (click)="openDialog()">
                <p>Publicar</p>
            </button>
        </div>
    </div>
</div>
