<div class="main-div">
  <div class="lateral">
    <app-seller-vertical-menu></app-seller-vertical-menu>
  </div>
  <div class="main-container">
    <div class="title-container">
      <p class="main-title">Eliminar publicación</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1029"
        height="2"
        viewBox="0 0 1029 2"
        fill="none"
      >
        <path d="M0.11377 0.858582H1087.85" stroke="#BE272D" />
      </svg>
    </div>
    <div class="body">
      <div class="header-card">
        <img src="assets/images/seller/exclamationSign.svg" alt="" />
        <div class="header-content">
          <p class="red-text">Importante</p>
          <p class="content-text">
            Si eliminas las publicación debes saber:
            <br /><br />
            1. Las personas no podrán ver tu publicación una vez eliminado.
            <br />
            2. No podrás subir la misma publicación en 1 semana.
            <br />
            3. Se te cobrará un porcentaje por bajar la publicación.
          </p>
        </div>
      </div>
      <p class="bold-text">
        Estas son todas tus publicaciones, ¿Cuál deseas eliminar?
      </p>
      <div class="body-card">
        <div class="row-post" *ngFor="let item of posts">
          <img src="{{ ruta + item.ProductImages![0].filePath }}" alt="" />
          <p class="row-post-name">{{ item.title.toUpperCase() }}</p>
          <div class="date-location-container">
            <p>Fecha: {{ item.createdAt | date : "dd.MM.yyyy" }}</p>
            <p>Comuna: {{ item.city?.name }}</p>
          </div>
          <div class="price-category-container">
            <p>
              {{ (item.price | currency : "CLP" : "$")?.replaceAll(",", ".") }}
              CLP
            </p>
            <p>Categoría: {{ item.category?.name }}</p>
          </div>
          <div class="buttons-container">
            <button class="row-button" (click)="openSeeMoreDialog(item)">
              Ver más
            </button>
            <button class="row-button" (click)="openDeleteDialog(item)">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
