<div class="main-div">
  <div class="title-container">
    <p>Ver más registro de venta</p>
    <img src="assets/images/seller/x.svg" alt="" (click)="close()" />
  </div>
  <p class="normal-text">
    Fecha de venta:
    <span class="subtitle">{{
      order.createdAt | date : "dd/MM/yyyy" : "ES"
    }}</span>
  </p>
  <p class="normal-text">
    Publicado por:
    <span class="subtitle"
      >{{ order.product.user.firstName }}
      {{ order.product.user.lastName }}</span
    >
  </p>
  <p class="normal-text">
    Teléfono: <span class="subtitle">{{ order.product.user.phone }}</span>
  </p>
  <p class="normal-text">
    Mail: <span class="subtitle">{{ order.product.user.email }}</span>
  </p>
  <p class="normal-text">
    Publicación:
    <span class="subtitle">{{ order.product.title.toUpperCase() }}</span>
  </p>
  <p class="normal-text">Precio: <span class="subtitle">$150.000 CLP</span></p>
  <div class="images-container">
    <img
      *ngFor="let item of order.product.ProductImages"
      src="{{ ruta + item.filePath }}"
      alt=""
    />
  </div>
  <p class="normal-text">
    Descripción de artículo: <br /><br />
    {{ order.product.description }}
  </p>
  <div class="info-container2">
    <p class="normal-text">Categoría: {{ order.product.category.name }}</p>
    <p class="normal-text">
      Ubicación: {{ order.product.state.name }}, {{ order.product.city.name }}
    </p>
    <p class="normal-text">Estado de producto: {{ order.product.condition }}</p>
    <p class="normal-text">
      Medidas: {{ order.product.width }} ancho, {{ order.product.length }} fondo
      y {{ order.product.height }} cm alto
    </p>
    <p class="normal-text">Peso: {{ order.product.weight }} kilos</p>
    <p class="normal-text">Estado: {{ order.orderState.stateOrder }}</p>
  </div>
  <button class="red-button" (click)="close()">Aceptar</button>
</div>
