<main>
    <article>
      <!-- BANNER -->
      <section id="banner">
        <mat-card class="banner-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div fxLayout="column" fxLayoutAlign="start left">
            <h1 class="banner-title">¡Bienvenidos!</h1>
            <p class="banner-subtitle">Encuentra todos los productos de segunda mano en un solo sitio</p>
            <button mat-raised-button  class="banner-button">Ver más</button>
          </div>
          <div fxLayoutAlign="center">
            <img src="../../../assets/images/bannerproducts.png" alt="Imagen del banner" class="banner-image" />
          </div>
        </mat-card>
      </section>
<!-- PRODUCTOS MAS VENDIDOS -->

    <section>
      <h2 style="font-family: 'Titillium Web';color: #BE272D;
          font-weight: 700; font-size: 25px; margin-top: 20px; line-height: 31px; letter-spacing: 1%;" fxLayoutAlign="center center">
          Productos mas vendidos
      </h2>
      <swiper-container class="mySwiper" navigation="true" pagination="true" keyboard="true" 
        css-mode="true"  slides-per-view="3" rewind="true">
          <swiper-slide *ngFor="let product of productsCard">
            <mat-card class="product-card" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" >
                      <mat-card-header fxLayoutGap="40px">
                        <img class="product-img" [src]="product.photo">
                      </mat-card-header>
                      <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <div class="product-card-text" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
                          <p>{{product.date}}</p>
                          <p>{{product.country}}</p>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" >
                          <h2 class="product-money" style="color :#BE272D;"><b>{{product.price | currency : 'CLP' : 'symbol-narrow'}}</b></h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                          <p class="product-name" >{{product.name}}</p>
                        </div>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button class="banner-button">Ver más</button>
                      </mat-card-actions>
                </mat-card>
              </swiper-slide>
      </swiper-container>
    </section>
</article>
</main>