<main>
    <article>
        <section class="section hero" aria-label="home">
            <div class="container">
    
              <div class="hero-content">
    
                <!-- <p class="hero-subtitle">Bienvenidos</p> -->
    
                <p class="mat-headline-3" style="color:white;margin: 10px;"><b>Bienvenidos</b></p>
                <p class="mat-headline-6" style="color:white;margin: 10px;">
                    Encuentra todo los productos de segunda mano en un solo sitio
                </p>
    
                <a href="#" class="btn btn-primary">Ver más</a>
    
              </div>
    
              <figure class="hero-banner">
                <img src="assets/images/bannerproducts.png" width="680" height="645"
                  alt="products" class="w-100">
              </figure>
    
            </div>
          </section>
    </article>
</main>