/* Basic styling */
#btn {
  width: auto;
}

/* It is triggered when screen
 size becomes <=768px */
@media(max-width:768px) {
  #btn-text {

      /* It hides the button text
      when screen size <=768px */
      display: none;
  }
}

.header{
  height: 110px;
}