<!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a routerLink="/home" class="logo">
        
        <img src="assets/img/logo.svg" width="109.194580078125" height="70.51641845703125" alt="Jassa home">
      </a>

      <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
        <ul class="navbar-list">

          <li class="navbar-item">
            <a routerLink="/home" class="header-label navbar-link " routerLinkActive="active">Home</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/ofertas"  class="header-label navbar-link " routerLinkActive="active">Ofertas</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/comoVender"  class="header-label navbar-link " routerLinkActive="active">¿Cómo vender?</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/preguntasFrecuentes"  class="header-label navbar-link " routerLinkActive="active">Preguntas frecuentes</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/subeloTodoInforma"  class="header-label navbar-link " routerLinkActive="active">Subelo todo informa</a>
          </li>
        </ul>
        
      </nav>

      <div class="search-item">
        <div class="search-container">
          <input type="text" placeholder="">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>
      
      <button mat-icon-button class="btn btn-text" aria-label="menu" data-nav-toggler (click)="toggleMenu()">
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
      

      <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()">
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
      <!-- ... (código anterior) ... -->

      <div class="category-menu" [ngClass]="menuOpen ? 'open' : ''">
        <div class="category-header" fxLayout="row">
          <div class="search-item">
            <div class="search-container">
              <input type="text" placeholder="">
              <ion-icon name="search-outline"></ion-icon>
            </div>
          </div>
            <button mat-raised-button class="button-menu-categories" style="margin: 10px;" >Categorías</button>
            <button mat-raised-button class="button-menu-categories" style="margin: 10px;" >Marcas</button>
            <button mat-raised-button class="button-menu-categories" style="margin: 10px;" >Ciudad</button>
        </div>
        <div class="category-content" fxLayout="row">
          <!-- ngFor para imprimir las categorías -->
          <div *ngFor="let categoria of categories" class="categoria-column" fxLayout="column">
            <div class="categoria-title">{{ categoria.name }}</div>
            <div *ngFor="let subcategoria of categoria.subCategories" class="subcategoria" style="margin-top: 20px;">
              {{ subcategoria.name }}
            </div>
          </div>
        </div>
      </div>
      

<!-- ... (código posterior) ... -->

    </div>
  
  </header>

 