<!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a routerLink="/home" class="logo">
        
        <img src="assets/img/logo.svg" width="109.194580078125" height="70.51641845703125" alt="Jassa home">
      </a>

      <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
        <ul class="navbar-list">

          <li class="navbar-item">
            <a routerLink="/home" class="header-label navbar-link " routerLinkActive="active">Home</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/ofertas"  class="header-label navbar-link " routerLinkActive="active">Ofertas</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/comoVender"  class="header-label navbar-link " routerLinkActive="active">¿Cómo vender?</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/preguntasFrecuentes"  class="header-label navbar-link " routerLinkActive="active">Preguntas frecuentes</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/subeloTodoInforma"  class="header-label navbar-link " routerLinkActive="active">Subelo todo informa</a>
          </li>
        </ul>
        
      </nav>

      <div class="search-item">
        <div class="search-container">
          <input type="text" placeholder="">
          <img src="assets\images\iconos-generales\lupa de busqueda.svg">
        </div>
      </div>
      
      <button mat-icon-button class="btn btn-text" aria-label="menu" data-nav-toggler (click)="toggleMenu()">
        <img src="assets\images\iconos-generales\categorias.svg">
      </button>
      

      <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()">
        <img src="assets\images\iconos-generales\categorias.svg">
      </button>
      <!-- ... (código anterior) ... -->

      <div class="category-menu" [ngClass]="menuOpen ? 'open' : ''" style="height: 90vh; width: 1000px;">
        <!-- ... (otros elementos) ... -->
        <div class="category-content" fxLayout="column wrap" style="height: 98%; margin-top: 0; gap: 0;">
          <div *ngFor="let categoria of categories" class="categoria" style="width: 16.25rem;">
            <div fxLayout="row" fxLayoutGap="12px" class="categoria-info">
              <img [src]="categoria.logo" alt="Logo de categoría" class="categoria-logo">
              <p class="categoria-title">{{ categoria.name }}</p>
            </div>
            <div class="subcategorias" fxLayout="column wrap" fxLayoutAlign="space-between" fxFlex="auto" fxLayoutGap="1rem">
              <div *ngFor="let subcategoria of categoria.subCategories" class="subcategoria">
                {{ subcategoria.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      

<!-- ... (código posterior) ... -->

    </div>
  
  </header>

 