.breadcrumb {
    display: inline-flex;
    align-self: stretch;
    align-items: flex-start;
    gap: 22px;
}

.breadcrumb ul {
    display: inline-flex;
    align-items: flex-start;
    gap: 22px;
    cursor: pointer;
}

.breadcrumb li {
    color: #BE272D;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
    cursor: pointer;
}

.breadcrumb a {
    color: #BE272D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    cursor: pointer;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.breadcrumb img {
    width: 13.095px;
    height: 18.589px;
    fill: #BE272D;
}


.main-div {
    width: 1440px;
    display: flex;
    background: #F1F1F1;
}

.lateral {
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #ffffff;
    flex-shrink: 0;
}

.main-container {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.content-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    padding-top: 20px;
}

.title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex-shrink: 0;
}

.main-title {
    height: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 27.9px */
    letter-spacing: 0.18px;
    flex: 1 0 0;
    align-self: stretch;
}

.content-image-card {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content-image-card p {
    color: #000;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 203.753px;
}

.content-image-card-button {
    display: flex;
    width: 192px;
    height: 34px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #BE272D;
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.content-fields-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.form-field {
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.form-field-label {
    align-self: stretch;
    color: #000;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    height: 10px;
    font-weight: 700;
    line-height: normal;
}

.form-field-input,
.form-field-input::placeholder {
    align-self: stretch;
    color: #000;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}

.form-field-hint {
    color: #8B8989;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hint-div {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
    height: 34px;
}

.edit-button {
    display: flex;
    width: 125px;
    height: 34px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #BE272D;
    color: #FFF;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}