<div class="main-div">
  <div class="main-container">
    <div class="info-column">
      <img src="assets/images/inform/virtual-assistent.png" alt="" />
      <p class="title">Asistente virtual</p>
      <p class="content">
        Si tienes alguna duda, nuestro equipo te puede responder cualquier duda
        que tengas.
      </p>
      <button class="button red">
        <p>Ver más</p>
      </button>
    </div>
    <div class="info-column">
      <img src="assets/images/inform/whatsapp-image.png" alt="" />
      <p class="title">Grupo de Whatsapp</p>
      <p class="content">
        Es un canal de whatsapp podrás encontrar fotos de productos e
        información de Súbelo Todo.
      </p>
      <button class="button white">
        <p>Ver más</p>
      </button>
    </div>
  </div>
</div>
