.body{
  width: 1440px;
  height: 920px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-around;
  align-self: stretch;
}

.product-section{
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  height: 483px;
  width: 1360px;
}

.images-section{
  width: 428px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.title.container{
  align-self: stretch;
}

.title{
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%; /* 37.2px */
  letter-spacing: 0.24px;
}

.details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  height: 483px;
  width: 892px;
}

.data-container{
  display: flex;
  width: 892px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  height: 181px;
}

.price-container{
  flex: 1 0 0;
  align-self: stretch;
}

.price{
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%; /* 37.2px */
  letter-spacing: 0.24px;
}

.ref-price-container{
  align-self: stretch;
}

.ref-price{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
}

.description-container{
  align-self: stretch;
}

.description{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
}

.info-container{
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.specifications-container{
  display: flex;
  width: 426px;
  height: 262px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-style{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
  align-self: stretch;
}

.sale-details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 92px;
  align-self: stretch;
}

.seller-details{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
  width: 248px;
  height: 112.931px;
}

.buy-button{
  display: flex;
  width: 248px;
  height: 57px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #BE272D;
}

.buy-button p{
  padding-top: 5px;
  color: #FFF;
  text-align: center;
  font-family: TitilliumWeb;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
}

.recomendations-section{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  height: 240px;
  width: 100%;
}

.recomendations-section-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}

.recomendations-title{
  color: #BE272D;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
}

.line{
  width: 1360px;
  height: 0;
  stroke-width: 1px;
  stroke: #BE272D;
}

.recomendations{
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.recomendation-card{
  display: flex;
  width: 406px;
  padding: 20px;
  align-items: flex-end;
  gap: 20px;
}

.recomendation-card img{
  flex: 1 0 0;
  align-self: stretch;
  width: 190px;
  height: 130px;
  object-fit: cover;
}

.recomendation-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.recomendation-title{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
  align-self: stretch;
}

.recomendation-price{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
}

.recomendation-button{
  display: flex;
  height: 35px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #BE272D;
  background: #FFF;
}

.recomendation-button p{
  padding-top: 8px;
  color: #BE272D;
  text-align: center;
  font-family: TitilliumWeb;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 155%; /* 24.8px */
  letter-spacing: 0.16px;
}

.imgIcon{
  width: 31.5px;
  height: 31.5px;
}