 /*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

 .banner-container {
   width: 100%;
   height: 299.80029296875px;
   top: 0;
   background: linear-gradient(45deg, #BE272D, #ffffff);
   background-repeat: no-repeat;
   background-position: center bottom;
   /* Ajusta la posición del fondo */
   color: #fff;
   /* padding: 20px; */
 }

 .banner-title {
   font-size: 48px;
   margin-bottom: 20px;
 }

 .banner-subtitle {
   font-size: 20px;
   margin-bottom: 40px;
 }

 .banner-button {
   font-size: 20px;
   border-radius: 50px;
   /* Ajusta el valor para hacer el botón más ovalado */
   width: 200px;
   /* Ajusta el valor para hacer el botón más largo */
   padding: 10px 20px;
   /* Ajusta el padding para dar más espacio al texto dentro del botón */
   color: #BE272D !important;
   /* Cambia el color de la fuente aquí */
   background-color: #FFFFFF;
   /* Cambia el color de fondo del botón aquí */
   border: 1px solid red;
   padding: 10px;
   border-radius: 20px;
 }

 .banner-image {
   max-width: 100%;
   max-height: 300px;
   /* Ajusta el tamaño de la imagen según tus necesidades */
 }


 /*-----------------------------------*\
  #CAROUSEL
\*-----------------------------------*/


 .carousel-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* Coloca los botones a los costados */
   padding: 16px;
   /* Agrega un poco de espacio alrededor del carrusel */
 }

 .card-list {
   display: flex;
   transition: transform 0.3s ease-in-out;
   overflow: hidden;
   /* Oculta las cards que se salgan del carrusel */
 }

 .carousel-card {
   margin: 10px;
   width: 300px;
   height: 200px;
 }

 .prev-button,
 .next-button {
   background-color: white;
   background-position: center;
   background-size: 40px;
   background-repeat: no-repeat;
   padding: 8px 16px;
   border-radius: 100%;
   border: 2px solid black;
   color: red;
 }


 /*-----------------------------------*\
  #PRODUCTO MAS VENDIDO
\*-----------------------------------*/

 .best-seller {
   width: 80%;
   margin: 30px 10%;
 }

 .product-card {
   width: 365px;
   height: 328px;
   /* margin-bottom: 20px; */
   margin: 20px;
   border-radius: 10px;

   background-color: #FFFFFF;


 }

 .product-money {
   font-family: Titillium Web;
   font-size: 20px;
   font-weight: 700;
   line-height: 31px;
   letter-spacing: 0.01em;
   text-align: center;
 }

 .product-name {
   font-family: Titillium Web;
   font-size: 16px;
   font-weight: 400;
   line-height: 25px;
   letter-spacing: 0.01em;
   text-align: center;


 }

 .product-card-text {
   font-family: 'Titillium Web';
   font-size: 16px;
 }

 .product-img {
   border-radius: 20px;
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
   width: 285px;
   height: 103px;
   object-fit: cover;
   position: relative;
   box-sizing: border-box;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .button-product-card {
   width: 285px;
   height: 45px;
   border-radius: 10px;
   border: 1px;
   color: #BE272D !important;
   /* Cambia el color de la fuente aquí */
   background-color: #FFFFFF;
   /* Cambia el color de fondo del botón aquí */
   border: 1px solid #BE272D;
   /* gap: 10px */
 }


 swiper-container {
   width: 85%;
   height: 120%;
 }

 swiper-slide {
   text-align: center;
   font-size: 18px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 swiper-container::part(bullet-active) {
   background-color: #BE272D;
 }

 swiper-container::part(button-prev) swiper-container::part(button-next) {
   color: #BE272D;
 }

 /*-----------------------------------*\
  #CATEGORIAS POPULARES
  \*-----------------------------------*/

 .popular-categories {
   width: 616px;
   height: 326.36px;
   border-radius: 10px;
   margin: 40px;
   background-color: #FFFF;
 }

 .image-container {
   margin: auto;
 }

 .image-popular {
   width: 338.0433349609375px;
   height: 286.357666015625px;
   border-radius: 10px;
 }

 .title-text-container {
   width: 233px;
   height: 25px;
   margin: 10px;
 }

 .subtitle-text-container {
   width: 233px;
   height: 62px;
   margin: 10px;
 }

 .sub-title-popular {
   font-family: Roboto;
   font-size: 20px;
   font-weight: 700;
   line-height: 31px;
   letter-spacing: 0em;
   text-align: center;
   color: #BE272D;

 }

 .title-popular {
   font-family: Titillium Web;
   font-size: 16px;
   font-weight: 400;
   line-height: 25px;
   letter-spacing: 0.36em;
   text-align: center;
   text-transform: uppercase;
   margin: 0;
 }

 .button-popular-categories {
   width: 233px;
   height: 45px;
   border-radius: 10px;
   border: 1px;
   color: #BE272D !important;
   /* Cambia el color de la fuente aquí */
   background-color: #FFFFFF;
   /* Cambia el color de fondo del botón aquí */
   border: 1px solid #BE272D;
   /* gap: 10px */
 }

 .seccion-title {
   font-family: 'Titillium Web';
   color: #BE272D;
   font-weight: 700;
   font-size: 25px;
   margin-top: 25px;
   line-height: 31px;
   letter-spacing: 1%;
 }

 /*-----------------------------------*\
  #PRODUCTO DESCUENTO
  \*-----------------------------------*/

 .title {
   font-family: 'Titillium Web';
   color: #BE272D;
   font-weight: 700;
   font-size: 25px;
   margin-top: 20px;
   line-height: 31px;
   letter-spacing: 1%;
 }

 .product-discount-card {
   width: 346px;
   height: 378px;
   /* margin-bottom: 20px; */
   /* padding: 20px, 40px, 20px, 40px; */
   margin: 40px;
   border-radius: 10px;
   background-color: #F1F1F1F1;
 }

 .product-discount-img {
   width: 266px;
   height: 124px;

 }

 .column-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
 }

 .card-products {
   width: 85%;
   border-radius: 20px;
 }

 .card-products-container {
   height: 100px;
   /* Ajusta esta altura según tus necesidades */
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .product-discount-button {
   width: 346px;
   height: 45px;
   border-radius: 10px;
   border: 1px;
   color: #BE272D !important;
   /* Cambia el color de la fuente aquí */
   background-color: #FFFFFF;
   /* Cambia el color de fondo del botón aquí */
   border: 1px solid #BE272D;
 }



 /*-----------------------------------*\
    #MEDIA DISPLAYS
  \*-----------------------------------*/

 @media screen and (max-width: 767px) {
   .banner-container {
     padding: 10px;
     height: 700px;
   }

   .banner-title {
     font-size: 36px;
   }

   .banner-subtitle {
     font-size: 18px;
   }

   .banner-button {
     font-size: 16px;
     width: 150px;
     /* Ajusta el valor para hacer el botón más largo en dispositivos móviles */
   }

   .banner-image {
     max-height: 300px;
     margin-top: 20px;
   }
 }