<div class="main-div">
  <div class="title-row">
    <p>Detalle de compra realizada</p>
    <img src="assets/images/seller/x.svg" alt="" (click)="close()" />
  </div>
  <div class="sale-container">
    <div class="product-row">
      <img
        src="{{ ruta + order.product?.ProductImages?.at(0)?.filePath }}"
        alt=""
      />
      <p class="bold-text">{{ order.product?.title }}</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="51"
        viewBox="0 0 2 51"
        fill="none"
      >
        <path d="M0.973145 0.194946V50.1949" stroke="black" />
      </svg>
      <div class="data-column" style="width: 66px">
        <p class="bold-text">Cantidad</p>
        <p class="normal-text">01</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="51"
        viewBox="0 0 2 51"
        fill="none"
      >
        <path d="M0.973145 0.194946V50.1949" stroke="black" />
      </svg>
      <div class="data-column" style="width: 131px">
        <p class="bold-text">N° de venta</p>
        <p class="normal-text">0000{{ order.id }}</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="51"
        viewBox="0 0 2 51"
        fill="none"
      >
        <path d="M0.973145 0.194946V50.1949" stroke="black" />
      </svg>
      <div class="data-column" style="width: 100px">
        <p class="bold-text">Precio</p>
        <p class="normal-text">
          {{ (order.price | currency : "CLP" : "$")?.replaceAll(",", ".") }}
        </p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="51"
        viewBox="0 0 2 51"
        fill="none"
      >
        <path d="M0.973145 0.194946V50.1949" stroke="black" />
      </svg>
      <div class="data-column" style="width: 72px">
        <p class="bold-text">Categoría</p>
        <p class="normal-text">
          {{ order.product?.category?.name }}
        </p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="51"
        viewBox="0 0 2 51"
        fill="none"
      >
        <path d="M0.973145 0.194946V50.1949" stroke="black" />
      </svg>
      <div class="data-column" style="width: 150px">
        <p class="bold-text">Estado de producto</p>
        <p class="normal-text">{{ order.product?.condition }}</p>
      </div>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="980"
      height="2"
      viewBox="0 0 980 2"
      fill="none"
    >
      <path d="M0.973145 1.19495H979.867" stroke="black" />
    </svg>
    <div class="venta-row">
      <div class="venta-data-column" style="width: 340px">
        <div class="data-row">
          <p class="bold-text" style="width: 117px">Estado de venta</p>
          <p class="green-text2" style="width: 209px">
            Compra {{ order.orderState?.stateOrder }}
          </p>
        </div>
        <div class="data-row">
          <p class="bold-text" style="width: 192px">
            Fecha de compra {{ order.orderState?.stateOrder }}
          </p>
          <p class="normal-text2" style="width: 150px">
            {{ order.updatedAt | date : "dd / MM / yyyy" : "es" }}
          </p>
        </div>
      </div>
      <div class="venta-data-column" style="width: 375px">
        <div class="data-row">
          <p class="bold-text" style="width: 166px">Nombre de vendedor</p>
          <p class="normal-text2" style="width: 190px">
            {{ order.product?.user?.firstName }}
            {{ order.product?.user?.lastName }}
          </p>
        </div>
        <div class="data-row">
          <p class="bold-text" style="width: 146px">Número de teléfono</p>
          <p class="normal-text2" style="width: 203px">
            {{ order.product?.user?.phone }}
          </p>
        </div>
        <div class="data-row">
          <p class="bold-text" style="width: 41px">Email</p>
          <p class="normal-text2" style="width: 308px">
            {{ order.product?.user?.email }}
          </p>
        </div>
      </div>
      <div class="venta-data-column" style="width: 224px">
        <div class="data-row">
          <p class="bold-text" style="width: 96px">Tipo de pago</p>
          <p class="normal-text2" style="width: 108px">
            {{ order.shipment?.paymentTypeCode }}
          </p>
        </div>
        <div class="data-row">
          <p class="bold-text" style="width: 102px">Cuotas</p>
          <p class="normal-text2" style="width: 102px">
            {{ order.shipment?.installmentsNumber ?? "0" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
