<footer class="footer" fxLayout="row" >
    <div class="logo-container" >
        <a routerLink="/home" class="logo" fxLayoutAlign="center center" style="margin-bottom: 60px;">
            <img  src="assets/img/logo.svg" width="140" height="28" alt="Jassa home">
        </a>
        <div class="logo-text-container">
            <p class="logo-text">Encuentra todo lo que necesitas de segunda mano en un solo sitio</p>
        </div>
    </div>
    <div class="menu-container" fxLayout="row">
        <div class="explorer-container" style="margin: 10px;">
            <p class="title-menu">Explorar</p>
            <p class="text-menu">Home</p>
            <p class="text-menu">Ofertas</p>
            <p class="text-menu">¿Cómo vender?</p>
            <p class="text-menu">Pregunta frecuente</p>
            <p class="text-menu">Grupo WhatsApp</p>
        </div>
        <div class="legal-container" style="margin: 10px;">
            <p class="title-menu">Legal</p>
            <p class="text-menu">Información legal</p>
            <p class="text-menu">Políticas de privacidad</p>
        </div>
        <div class="business-contact" style="margin: 10px;">
            <p class="title-menu">Contacto de Negocios</p>
            <p class="text-menu">Carlos Antunes</p>
            <p class="text-menu">xxxx.xxxxxx@gmail.com</p>
            <p class="text-menu">09XXXXXXXX</p>
            <p class="text-menu">09XXXXXXXX</p>
        </div>
        <div class="social-media-container" style="margin: 10px;">
            <p class="title-menu" fxLayoutAlign="center center">Seguir</p>
            <a class="mini-logo-container" fxLayoutAlign="center center" style="margin-bottom: 40px;">
                <img src="../../../assets/images/instagram-logo.png" alt="Instagram">
            </a>
            <a class="mini-logo-container" fxLayoutAlign="center center" style="margin-bottom: 40px;">
                <img src="../../../assets/images/facebook-logo.png" alt="Facebook">
            </a>
            <a class="mini-logo-container" fxLayoutAlign="center center">
                <img src="../../../assets/images/whatsapp-logo.png" alt="WhatsApp">
            </a>
        </div>
    </div>
</footer>
  