.main-div {
    max-width: 1440px;
    height: 875px;
    display: flex;
    background: #F1F1F1;
}

.lateral {
    display: inline-flex;
    height: 875px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #ffffff;
    flex-shrink: 0;
}

.main-container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-container {
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: #ffffff;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex-shrink: 0;
}

.main-title {
    height: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 27.9px */
    letter-spacing: 0.18px;
    flex: 1 0 0;
    align-self: stretch;
}

.title-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.title-row img {
    width: 30px;
    height: 21.738px;
    flex-shrink: 0;
}

.title-row p {
    color: #BE272D;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
    align-self: stretch;
}

.data-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.data-row {
    display: flex;
    align-items: center;
    gap: 222px;
    align-self: stretch;
}

.data-name {
    width: 222px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 19px;
}

.data {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1 0 0;
    height: 19px;
}

.button-edit {
    align-self: flex-end;
    display: flex;
    width: 208px;
    padding: 10px 30px;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
}

.button-edit p {
    padding-top: 8px;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

@media (max-width: 1000px) {
    .lateral {
        display: none;
    }

    .content-container {
        width: 95vh;
    }

}

@media (max-width: 700px) {

    .title {
        max-width: 90vw;
        font-size: 17dvw;
        line-height: 20dvw;
        top: 50px;
        height: auto;
    }

    .content {
        max-width: 85vw;
        right: 10vw;
        height: auto;
    }

    .svg {
        width: 90vw;
        position: relative;
        right: 0px;
    }

    .link-div {
        max-width: 82vw;
        right: 10vw;
        height: auto;
        gap: 15px;
    }

    .calltoaction {
        width: 90vw;
        align-self: center;
        left: 5vw;
        height: auto;
    }

    .custom,
    .custom-input {
        width: 80vw;
    }

    .link-div img {
        width: 18vw;
    }

}