.main-div {
    width: 1440px;
    display: flex;
    background: #F1F1F1;
}

.lateral {
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #ffffff;
    flex-shrink: 0;
}

.main-container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex-shrink: 0;
}

.main-title {
    height: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 27.9px */
    letter-spacing: 0.18px;
    flex: 1 0 0;
    align-self: stretch;
}

.body {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.header-card {
    display: flex;
    width: 1029px;
    height: min-content;
    padding: 10px 20px;
    align-items: center;
    gap: 757px;
    border-radius: 10px;
    background: #FFF;
}

.checkbox-style {
    width: 29.754px;
    height: 29.754px;
    flex-shrink: 0;
    background-color: #D9D9D9;
    border: 2px solid;
    border-radius: 2px;
    border-color: #BE272D;
    cursor: pointer;
    appearance: none;
    transition: all 0.2s ease-in-out;
}

.checkbox-style:checked {
    background: #BE272D;
    box-shadow: inset 0 0 0 3.5px #D9D9D9;
}

.button {
    display: flex;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
}

.button p {
    padding-top: 8px;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.body-card {
    display: flex;
    width: 1029px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 10px;
    background: #FFF;
}

.row-post {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: stretch;
}

.row-post img {
    width: 62.512px;
    height: 50px;
    object-fit: contain;
}

.row-post-name {
    width: 17%;
    overflow: auto;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.row-post-name::first-letter {
    text-transform: uppercase;
}

.date-location-container {
    width: 30%;
}

.price-category-container {
    width: 30%;
}

.date-location-container p,
.price-category-container p {
    height: 15px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
    align-self: stretch;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-self: end;
}

.row-button {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
    padding-top: 8px;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}