.breadcrumb ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 22px;
}

.breadcrumb li{
    color: #BE272D;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.breadcrumb a{
    color: #BE272D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.breadcrumb img{
    width: 13.095px;
    height: 18.589px;
    fill: #BE272D;
}