.main-div {
    width: 1440px;
    display: flex;
    background: #F1F1F1;
}

.lateral {
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #ffffff;
    flex-shrink: 0;
}

.main-container {
    padding: 60px 35px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex-shrink: 0;
}

.main-title {
    height: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 27.9px */
    letter-spacing: 0.18px;
    flex: 1 0 0;
    align-self: stretch;
}

.body {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.date-card {
    display: flex;
    width: 1056px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.date-card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.date-card-title-text {
    height: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.date-card-row {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.date-card-row img {
    width: 125px;
    height: 125px;
    align-self: stretch;
    object-fit: contain;
}

.date-card-row-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.normal-text {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    align-self: stretch;
    max-lines: 2;
}

.bold-text {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.16px;
    align-self: stretch;
}

.green-text {
    color: #128C16;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    align-self: stretch;
}

.button {
    display: flex;
    width: 193px;
    height: 42px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}