<div class="main-div">
  <div class="title-container">
    <p>Validar publicación</p>
    <img src="assets/images/seller/x.svg" alt="" (click)="close()" />
  </div>
  <p class="subtitle">
    {{ post.title.toUpperCase() }} -
    {{ (post.price | currency : "CLP" : "$")?.replaceAll(",", ".") }} CLP
  </p>
  <p class="normal-text">
    Precio referencial:
    {{ (post.referencialPrice | currency : "CLP" : "$")?.replaceAll(",", ".") }}
  </p>
  <div class="images-container">
    <img
      *ngFor="let item of post.ProductImages"
      src="{{ ruta + item.filePath }}"
      alt=""
    />
  </div>
  <p class="normal-text">
    Descripción de artículo: <br /><br />
    {{ post.description }}
  </p>
  <div class="info-container">
    <p class="normal-text">Categoría: {{ post.category?.name }}</p>
    <p class="normal-text">
      Ubicación: {{ post.state?.name }}, {{ post.city?.name }}
    </p>
    <p class="normal-text">Estado de producto: {{ post.condition }}</p>
    <p class="normal-text">
      Medidas: {{ post.width }} ancho, {{ post.length }} fondo y
      {{ post.height }} cm alto
    </p>
    <p class="normal-text">Peso: {{ post.weight }} kilos</p>
    <p class="normal-text">Estado: {{ post.saleState }}</p>
  </div>
  <div class="buttons-container">
    <button class="white-button" (click)="openRejectDialog()">Rechazar</button>
    <button class="red-button" (click)="openDialog()">Validar</button>
  </div>
</div>
