.main-container {
    width: 1439.935px;
    flex-shrink: 0;
    background: #F1F1F1;
    justify-content: center;
    align-content: center;
}

.body-container {
    margin-left: 272.9675px;
    margin-bottom: 48px;
    display: flex;
    width: 894px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main-title {
    padding-top: 80px;
    color: #BE272D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
    letter-spacing: 0.2px;
    align-self: stretch;
}

.search-container {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
}

.search-container input {
    outline: none;
    border: none;
    width: 100%;
}

.content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section-title {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.section-title img {
    width: 29.276px;
    height: 24.668px;
}

.section-title p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    flex: 1 0 0;
}

.options-container {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    width: 894px;
    gap: 40px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    cursor: pointer;
}

.option-title {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.option-title p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.option-title img {
    width: 20.889px;
    height: 14.073px;
}