:host {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  min-height: 100vh;
  /* Establece el alto mínimo de la vista a la altura del viewport */
}


/* Estilos para app-footer */
app-footer {
  flex: 0 0 auto;
  min-width: 450px;
  /* No se estirará y mantendrá su altura automática */
}

.mainDiv {
  align-self: center;
  max-width: 1440px;
  width: 100vw;
  min-width: 450px;
}

/* Estilos para app-nav */
app-nav {
  flex: 0 0 auto;
  min-width: 450px;
  /* No se estirará y mantendrá su altura automática */
}

/* Estilos para router-outlet (contenido) */
router-outlet {
  flex: 1;
  /* Se estirará para ocupar el espacio restante */
  overflow-y: auto;
  /* Agrega una barra de desplazamiento vertical si es necesario */
}