<div class="main-container">
    <div class="body-container">
        <p class="title">Empieza a vender tus productos ahora</p>
        <p class="description">Súbelo todo y da una segunda vida a tus cosas. 
            <br><br>
            Si alguien necesitaba algo que nosotros tenemos y ya no usamos, entonces  podemos vender esos productos y tener una ganancia por ellos.
        </p>
        <div class="content-conatiner">
            <div class="content-card">
                <div class="card-header">
                    <img src="assets/images/how-to-sell/how-to-sell1.svg" alt="">
                </div>
                <p class="card-title">Primero</p>
                <p class="card-description">Tener cosas para vender en la página</p>
            </div>
            <div class="content-card">
                <div class="card-header">
                    <img src="assets/images/how-to-sell/how-to-sell2.svg" alt="">
                </div>
                <p class="card-title">Segundo</p>
                <p class="card-description">  Sube 6 fotos máx. de tu producto</p>
            </div>
            <div class="content-card">
                <div class="card-header">
                    <img src="assets/images/how-to-sell/how-to-sell3.svg" alt="">
                </div>
                <p class="card-title">Tercero</p>
                <p class="card-description">Categoriza y completa el formulario de producto</p>
            </div>
            <div class="content-card">
                <div class="card-header">
                    <img src="assets/images/how-to-sell/how-to-sell4.svg" alt="">
                </div>
                <p class="card-title">Cuarto</p>
                <p class="card-description">tu producto podrá estar en Súbelotodo</p>
            </div>
        </div>
        <button class="button" (click)="openDialog()">
            <p>Empezar</p>
        </button>
    </div>
</div>

