::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent;
    margin: 5%;
}

.main-div{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 1100px;
    border-radius: 10px;
    background: #FFF;
}

.title-row{
    display: flex;
    align-items: center;
    gap: 13px;
    align-self: stretch;
    justify-content: end;
}

.title-row p{
    color: #BE272D;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    align-self: stretch;
    flex: 1 0 0;
}

.title-row img{
    width: 20px;
    height: 24px;
}

.sale-container{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;

    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-row{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.product-row img{
    flex: 1 0 0;
    align-self: stretch;
    height: 50px;
    width: 62px;
    object-fit: cover;
}

.bold-text{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.16px;
    width: 166.022px;
    flex-shrink: 0;
    align-self: stretch;
}

.normal-text{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;/* 24.8px */
    letter-spacing: 0.32px;
    align-self: stretch;
    text-align: end;
}

.green-text{
    color: #128C16;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    align-self: stretch;
}

.normal-text2{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;/* 24.8px */
    letter-spacing: 0.32px;
    align-self: stretch;
    text-align: end;
}

.red-text2{
    color: #BE272D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    align-self: stretch;
    text-align: end;
}

.data-column{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.venta-row{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.venta-data-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.data-row{
    display: flex;
    align-items: stretch;
    gap: 20px;
    align-self: stretch;
}

.motive-row{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.button-container{
    display: flex;
    width: 474px;
    align-items: flex-start;
    gap: 40px;
}

.button-red{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 10px;
    background: #BE272D;
    width: 217px    ;
    color: #FFF;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.button-white{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    width: 217px;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}