<div class="main-div">
    <div class="lateral">
        <app-admin-vertical-menu></app-admin-vertical-menu>
    </div>
    <div class="main-container">
        <div class="title-container">
            <p class="main-title">Pagos</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="1050" height="2" viewBox="0 0 1050 2" fill="none">
                <path d="M0.11377 0.858582H1087.85" stroke="#BE272D"/>
            </svg>
        </div>
        <div class="body-container">
            <div class="title-row">
                <img src="assets/images/iconos-generales/pagos.svg" alt="">
                <p class="title-text">Mis de pago</p>
            </div>
            <div class="data-container">
                <div class="data-column">
                    <div class="info-row">
                        <div class="dato-row">
                            <p class="bold-text">Nombre y apellido</p>
                            <p class="normal-text">Carola Rojas Villanueva</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                            <path d="M0.363281 1.375H484.363" stroke="black"/>
                        </svg>
                        <div class="info-row">
                            <div class="dato-row">
                                <p class="bold-text">Documento</p>
                                <p class="normal-text">12.345.678-9</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                                <path d="M0.363281 1.375H484.363" stroke="black"/>
                            </svg>
                        </div>
                        <div class="info-row">
                            <div class="dato-row">
                                <p class="bold-text">Tipo de cuenta </p>
                                <p class="normal-text">Personal</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                                <path d="M0.363281 1.375H484.363" stroke="black"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="data-column">
                    <div class="info-row">
                        <div class="dato-row">
                            <p class="bold-text">Mail</p>
                            <p class="normal-text">carol.rojas@gmail.com</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                            <path d="M0.363281 1.375H484.363" stroke="black"/>
                        </svg>
                        <div class="info-row">
                            <div class="dato-row">
                                <p class="bold-text">Tarjeta</p>
                                <p class="normal-text">Cuenta corriente</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                                <path d="M0.363281 1.375H484.363" stroke="black"/>
                            </svg>
                        </div>
                        <button class="button" (click)="openEditDialog()">Editar datos</button>
                    </div>
                </div>
            </div>
        </div>  <div class="body-container">
            <div class="title-row">
                <img src="assets/images/iconos-generales/pagos.svg" alt="">
                <p class="title-text">Mis de pago</p>
            </div>
            <div class="data-container">
                <div class="data-column">
                    <div class="info-row">
                        <div class="dato-row">
                            <p class="bold-text">Nombre y apellido</p>
                            <p class="normal-text">Carola Rojas Villanueva</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                            <path d="M0.363281 1.375H484.363" stroke="black"/>
                        </svg>
                        <div class="info-row">
                            <div class="dato-row">
                                <p class="bold-text">Documento</p>
                                <p class="normal-text">12.345.678-9</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                                <path d="M0.363281 1.375H484.363" stroke="black"/>
                            </svg>
                        </div>
                        <div class="info-row">
                            <div class="dato-row">
                                <p class="bold-text">Tipo de cuenta </p>
                                <p class="normal-text">Personal</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                                <path d="M0.363281 1.375H484.363" stroke="black"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="data-column">
                    <div class="info-row">
                        <div class="dato-row">
                            <p class="bold-text">Mail</p>
                            <p class="normal-text">carol.rojas@gmail.com</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                            <path d="M0.363281 1.375H484.363" stroke="black"/>
                        </svg>
                        <div class="info-row">
                            <div class="dato-row">
                                <p class="bold-text">Tarjeta</p>
                                <p class="normal-text">Cuenta corriente</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                                <path d="M0.363281 1.375H484.363" stroke="black"/>
                            </svg>
                        </div>
                        <button class="button" (click)="openEditDialog()">Editar datos</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>