::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent;
    margin: 5%;
}



.main-container {
    display: flex;
    width: 426px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: #FFF;
}

.check-img {
    width: 31.5px;
    height: 31.5px;
}

.title {
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
    letter-spacing: 0.2px;
    align-self: stretch;
}


.message {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
    align-self: stretch;
}

.red-button {
    display: flex;
    height: 47.5px;
    padding: 10px 10px;
    width: 173px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #BE272D;
    color: #FFF;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.white-button {
    display: flex;
    height: 47.5px;
    padding: 10px 10px;
    width: 173px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.buttons-container {
    display: flex;
    align-items: flex-start;
    gap: 21px;
    align-self: stretch;
}