<div class="main-div">
    <div class="title-row">
        <p>Editar formulario</p>
        <img src="assets/images/seller/x.svg" alt="" (click)="close()">
    </div>
    <p class="form-field-label">Estado del producto</p>
    <div class="form-field">
        <p class="form-field-label">Título</p>
        <input class="form-field-input" placeholder="Estado de producto">
        <div class="hint-div">
            <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
                <path d="M0 1.10571H423" stroke="black"/>
            </svg>
            <p class="form-field-hint">Escribe un titulo</p>
        </div>
    </div>
    <div class="content-container">
        <p class="form-field-label">Especificación de ítem</p>
        <p>Nuevo</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
            <path d="M0 1.10571H423" stroke="black"/>
        </svg>
        <p>Usado - Como nuevo</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
            <path d="M0 1.10571H423" stroke="black"/>
        </svg>
        <p>Usado - En buen estado</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
            <path d="M0 1.10571H423" stroke="black"/>
        </svg>
        <p>Usado - Aceptable</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
            <path d="M0 1.10571H423" stroke="black"/>
        </svg>
    </div>
    <div class="buttons-container">
        <button class="white-button" (click)="close()">Cancelar</button>
        <button class="red-button" (click)="close()">Guardar</button>
    </div>
</div>