<div class="main-div">
    <div class="lateral">
        <app-admin-vertical-menu></app-admin-vertical-menu>
    </div>
    <div class="main-container">
        <div class="title-container">
            <p class="main-title">Métricas</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="1089" height="2" viewBox="0 0 1089 2" fill="none">
                <path d="M0.694336 0.604797H1088.43" stroke="#BE272D"/>
                </svg>
        </div>
        
        <img src="assets/images/Barchart.png" alt="">
        <img src="assets/images/Donutchart.png" alt="">
        
    </div>
</div>
