<section class="gallery">
  <div class="container">
    <div class="img-container">
      <img
        class="img-containerImage"
        [src]="imagenActual"
        alt="Image"
        id="preview"
      />
      <div class="galleryColumn">
        <img
          class="galleryColumnIcon"
          src="assets/images/iconos-generales/ArrowUp.svg"
          alt=""
        />
        <div class="img-prev">
          <div
            *ngFor="let item of imagenes"
            [ngClass]="
              imagenActual == ruta + item.filePath
                ? 'img-slide active'
                : 'img-slide'
            "
          >
            <img
              src="{{ ruta + item.filePath }}"
              alt="Image1"
              (click)="changeImage(ruta + item.filePath)"
            />
          </div>
        </div>
        <img
          class="galleryColumnIcon"
          src="assets/images/iconos-generales/ArrowDown.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
