<div class="main-div">
  <form class="" [formGroup]="newfaqcat">
    <div class="title-row">
      <p>Agregar categoría de pregunta</p>
      <img src="assets/images/seller/x.svg" alt="" (click)="close()" />
    </div>
    <div class="form-field">
      <p class="form-field-label">Título categoría</p>
      <input
        class="form-field-input"
        type="text"
        id="validationDefault01"
        formControlName="name"
        required
      />
      <div class="hint-div">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="423"
          height="2"
          viewBox="0 0 423 2"
          fill="none"
        >
          <path d="M0.0324707 0.876892H666.032" stroke="black" />
        </svg>
        <p class="form-field-hint">Escribe la categoría que quieres agregar</p>
      </div>
    </div>
    <div class="buttons-container">
      <button class="white-button" (click)="close()">Cancelar</button>
      <button class="red-button" (click)="postcat()">Guardar</button>
    </div>
  </form>
</div>
