.main-div {
    display: flex;
    width: 503px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    border-radius: 10px;
    background: #FFF;
}

.title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    align-self: stretch;
}

.title-row p {
    color: #BE272D;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 266.785px;
    flex-shrink: 0;
    align-self: stretch;
}

.title-row img {
    width: 22px;
    height: 22px;
}

.form-field {
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.form-field-label {
    align-self: stretch;
    color: #000;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    height: 10px;
    font-weight: 700;
    line-height: normal;
}

.form-field-input,
.form-field-input::placeholder {
    align-self: stretch;
    color: #000;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}

.form-field-hint {
    color: #8B8989;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    align-self: stretch;
}

.content-container-text {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 10px;
    flex: 1 0 0;
}

.buttons-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.white-button {
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid #BE272D;
    width: 191px;
    background: #FFF;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.red-button {
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #BE272D;
    width: 191px;
    color: #FFF;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
}

.add-item-row {
    display: flex;
    height: 40px;
    padding: 0px 20px;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: #D9D9D9;
    justify-content: space-between;
}

.add-item-row p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
    line-height: normal;
    align-self: stretch;
}

.link-button {
    display: flex;
    width: 88px;
    height: 34px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
    text-decoration-line: underline;
}