<div class="main-div">
    <div class="title-row">
        <p>Agregar categoría</p>
        <img src="assets/images/seller/x.svg" alt="" (click)="close()">
    </div>
    <div class="form-field">
        <p class="form-field-label">Título ítem</p>
        <input class="form-field-input" placeholder="Boda">
        <div class="hint-div">
            <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
                <path d="M0.0324707 0.876892H666.032" stroke="black"/>
            </svg>
            <p class="form-field-hint">Escribe la categoría que quieres agregar</p>
        </div>
    </div>
    <div class="content-container">
        <p class="form-field-label">Especificación de ítem </p>
        <p class="content-container-text">Accesorio de bodas</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
            <path d="M0 1.10571H423" stroke="black"/>
        </svg>
        <p class="content-container-text">Vestidos de novia</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
            <path d="M0 1.10571H423" stroke="black"/>
        </svg>
        <p class="content-container-text">Zapatos de boda </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="423" height="2" viewBox="0 0 423 2" fill="none">
            <path d="M0 1.10571H423" stroke="black"/>
        </svg>
        <div class="add-item-row">
            <p>Agregar otra subcategoría</p>
            <button class="link-button" (click)="openAddDialog()">Agregar</button>
        </div>
    </div>
    <div class="buttons-container">
        <button class="white-button" (click)="close()">Cancelar</button>
        <button class="red-button" (click)="openDialog()" >Guardar</button>
    </div>
</div>