<div class="main-div">
    <div class="title-row">
        <p>Editar Preguntas frecuentes</p>
        <img src="assets/images/seller/x.svg" alt="" (click)="close()">
    </div>
    <div class="category-container">
        <p class="title">Ítem</p>
        <div class="cat-row">
            <p>Administrar publicaciones</p>
            <button class="link-button">Editar</button>
            <button class="link-button">Eliminar</button>
        </div>
    </div>
    <div class="content-container">
        <p class="title">Preguntas de ítem </p>
        <div class="subcat-row">
            <p>Publicaciones</p>
            <button class="link-button">Editar</button>
            <button class="link-button">Eliminar</button>
        </div>
        <div class="subcat-row">
            <p>Modificación de publicaciones</p>
            <button class="link-button">Editar</button>
            <button class="link-button">Eliminar</button>
        </div>
        <div class="subcat-row">
            <p>Quitar publicaciones</p>
            <button class="link-button">Editar</button>
            <button class="link-button">Eliminar</button>
        </div>
        <div class="add-item-row">
            <p>Agregar preguntas de ítem</p>
            <button class="link-button" (click)="openAddDialog()">Agregar</button>
        </div>
    </div>
</div>