<div class="main-div">
  <div class="title-row">
    <p>Ver más</p>
    <img src="assets/images/seller/x.svg" alt="" (click)="close()" />
  </div>
  <div class="product-container">
    <div class="second-container">
      <div class="third-container">
        <img src="{{ ruta + post.ProductImages![0].filePath }}" alt="" />
        <p class="title-text">{{ post.title }}</p>
      </div>
      <p class="second-container-text">
        {{ (post.price | currency : "CLP" : "$")?.replaceAll(",", ".") }} CLP
        <br />
        Categoría: {{ post.category?.name }}
      </p>

      <p class="product-container-text">
        Fecha {{ post.createdAt | date : "dd.MM.yyyy" }}
        <br />
        Comuna: {{ post.city?.name }}
      </p>
    </div>
    <p class="description">Descripción de artículo: {{ post.description }}</p>
    <div class="data-section">
      <p>
        Ubicación: {{ post.state?.name }},
        <br />
        {{ post.city?.name }}
        <br />
        Estado de producto: {{ post.condition }}
      </p>
      <p>
        Medidas: {{ post.width }}cm ancho, {{ post.length }}cm fondo y
        {{ post.height }}
        <br />
        cm alto Peso: {{ post.weight }} kilos
        <br />
        Estado: {{ post.saleState }}
      </p>
    </div>
  </div>
  <p class="content-text">
    Si eliminas las publicación debes saber:
    <br /><br />
    1. Las personas no podrán ver tu publicación una vez eliminado.
    <br />
    2. No podrás subir la misma publicación en 1 semana.
    <br />
    3. Se te cobrará un porcentaje por bajar la publicación.
  </p>
  <div class="button-row">
    <button class="button-cancel" (click)="close()">Cancelar</button>
    <button class="button-delete" (click)="openDeleteDialog(post)">
      Eliminar
    </button>
  </div>
</div>
