.main-container{
    width: 1439.935px;
    flex-shrink: 0;
    background: #F1F1F1;
    justify-content: center;
    align-content: center;
}

.body-container{
    margin-top: 80px;
    margin-left: 272.9675px;
    padding-bottom: 48px;
    display: flex;
    width: 975px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.question-breadcrumb{
    padding-left: 40px;
    padding-top: 40px;
    height: 25px;
    display: flex;
    align-items: flex-start;
    gap: 22px;
}

.question-breadcrumb ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 22px;
}

.question-breadcrumb li{
    color: #BE272D;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.question-breadcrumb a{
    color: #BE272D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.question-breadcrumb img{
    width: 13.095px;
    height: 18.589px;
    fill: #BE272D;
}

.search-container{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
}

.search-container input{
    outline: none;
}

.content-container{
    width: 975px;
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content-container-mini{
    width: 975px;
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 31px */
    letter-spacing: 0.2px;
    align-self: stretch;
}

.content-text{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 31px */
    letter-spacing: 0.2px;
}

.ref-image{
    display: flex;
    width: 889px;
    height: 361px;
    flex-direction: column;
    align-items: center;
}

.steps-container{
    align-self: stretch;
    flex-direction: column;
    gap: 20px;
}

.step-container{
    gap: 5px;
    display: flex;
    align-items: flex-start;
}

.step-number{
    color: #BE272D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 31px */
    letter-spacing: 0.2px;
}

.step-description{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: 0.2px;
}

.higlight-text{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    letter-spacing: 0.2px;
    text-decoration-line: underline;
    cursor: pointer;
}

.buttons-container{
    display: flex;
    align-items: flex-start;
    gap: 77px;
}

.button{
    display: flex;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 45px;
}

.cancel{
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
}

.cancel p{
    padding-top: 8px;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.next{
    border-radius: 10px;
    background: #BE272D;
}

.next p{
    padding-top: 8px;
    color: #FFF;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}