<div class="main-div">
  <div class="lateral">
    <app-admin-vertical-menu></app-admin-vertical-menu>
  </div>
  <div class="main-container">
    <!--<div class="breadcrumb">
      <ul>
        <li><a [routerLink]="['/admin-posts']">Publicaciones</a></li>
        <img src="assets\images\iconos-generales\ArrowRight.svg" alt="" />
        <li>
          <a [routerLink]="['/admin-posts-control']"
            >Control de productos publicados</a
          >
        </li>
        <img src="assets\images\iconos-generales\ArrowRight.svg" alt="" />
        <li [routerLink]="['/admin-posts-validate']">Validar publicaciones</li>
      </ul>
    </div>-->
    <div class="title-container">
      <p class="main-title">Validar publicaciones</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1088"
        height="2"
        viewBox="0 0 1088 2"
        fill="none"
      >
        <path d="M0.112793 0.552399H1087.85" stroke="#BE272D" />
      </svg>
    </div>
    <div class="content-container">
      <table mat-table [dataSource]="posts" #tabla1>
        <ng-container matColumnDef="fecha" style="flex: 2">
          <th class="header" style="flex: 2" mat-header-cell *matHeaderCellDef>
            Fecha de ingreso
          </th>
          <td class="row" style="flex: 2" mat-cell *matCellDef="let post">
            {{ post.createdAt | date : "dd/MM/yyyy" : "ES" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="publicador">
          <th class="header" mat-header-cell *matHeaderCellDef>Publicador</th>
          <td class="row" mat-cell *matCellDef="let post">
            {{ post.user.firstName }} {{ post.user.lastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th class="header" mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td class="row" mat-cell *matCellDef="let post">
            {{ post.user.phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mail">
          <th class="header" mat-header-cell *matHeaderCellDef>Mail</th>
          <td class="row" mat-cell *matCellDef="let post">
            {{ post.user.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="publicacion">
          <th class="header" mat-header-cell *matHeaderCellDef>Publicación</th>
          <td class="row" mat-cell *matCellDef="let post">
            {{ post.title.toUpperCase() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="validar">
          <th class="header" mat-header-cell *matHeaderCellDef>Validar</th>
          <td class="row" mat-cell *matCellDef="let post">
            <button class="button" (click)="openDialog(post)">Validar</button>
          </td>
        </ng-container>

        <tr
          class="header"
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          class="row"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
