.body{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #F1F1F1;
    padding-bottom: 40px;
}

.banner{
    width: 1444px;
    height: 268.507px;
    flex-shrink: 0;
}

.offers-body{
    padding-top: 15px;
    width: 1370px;
    height: 1879px;
    display: inline-flex;
    height: 1879px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
}

.offers-header{
    height: 71px;
    width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}

.offers-header p{
    color: #BE272D;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 37.2px */
    letter-spacing: 0.24px;
    width: 1360.135px;
}

.offers-breadcumb{
    height: 25px;
    display: flex;
    align-items: flex-start;
    gap: 22px;
}

.offers-breadcumb ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 22px;
}

.offers-breadcumb li{
    color: #BE272D;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.offers-breadcumb a{
    color: #BE272D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.offers-breadcumb img{
    width: 13.095px;
    height: 18.589px;
    fill: #BE272D;
}

.offers-container-body{
    width: 1360px;
    height: 1785px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.offers-lateral-menu{
    width: 200;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.lateral-menu-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.lateral-menu-title{
    color: #BE272D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
    width: 193px;
    flex: 1 0 0;
}

.categoria-title{
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    height: 19px;
}

.categoria-title img{
    width: 12.239px;
    height: 10.858px;
}

.categoria-title p{
    padding-top: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.categoria-section-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    align-self: stretch;
}

.categoria-section-options p{
    height: 16px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    align-self: stretch;
    cursor: pointer;
}

.categoria-section-options p:hover{
    color: #BE272D;
}

.offers-details{
    width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.offers-details-header{
    display: flex;
    width: 1120px;
    height: 27px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.offers-details-header-title{
    display: flex;
    align-items: flex-start;
    gap: 653px;
    flex: 1 0 0;
    align-self: stretch;
}

.offers-details-header-title p{
    height: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.offers-details-header-title div{
    width: 353px;
    height: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    cursor: pointer;
}

.line{
    stroke-width: 1px;
    stroke: #BE272D;
    width: 1120px;
    height: 0px;
    flex-shrink: 0;
}

.offers-row{
    display: flex;
    width: 1120px;
    align-items: flex-start;
    gap: 40px;
}

.offer-card{
    display: flex;
    height: 378px;
    width: 200px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.offer-card-title{
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.offer-tag{
    height: 25px;
    display: flex;
    width: 88px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #128C16;
    background: #128C16;
}

.offer-tag p{
    padding-top: 12px;
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.offer-percent{
    flex: 1 0 0;
    color: #128C16;
    text-align: right;
    font-family: TitilliumWeb;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 31px */
    letter-spacing: 0.2px;
}

.offer-card img{
    width: 200px;
    height: 95px;
    flex: 1 0 0;
    align-self: stretch;
    object-fit: cover;
}

.offer-before{
    color: #9B9B9B;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 31px */
    letter-spacing: 0.2px;
    text-decoration-line: strikethrough;
}

.offer-price{
    color: #000;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 31px */
    letter-spacing: 0.2px;
}

.offer-description{
    text-align: center;
    color: #000;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: 0.16px;
}

.offer-button{
    display: flex;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: #BE272D;
}

.offer-button p{
    color: #FFF;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.more-button{
    align-self: center;
    height: 45px;
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BE272D;
    background: #FFF;
}

.more-button p{
    padding-top: 8px;
    color: #BE272D;
    text-align: center;
    font-family: TitilliumWeb;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%; /* 24.8px */
    letter-spacing: 0.16px;
}

.pageController{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.pageNavigation-button{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #BE272D;
    background: var(--neutral-1, #FFF);
}

.pageNavigation-button img{
    height: 12px;
    width: 12px;
}

.pageNavigation-button-num{
    border-radius: 2px;
    border: 1px solid #BE272D;
    background: var(--neutral-1, #FFF);
    display: flex;
    padding: 1px 7px;
    flex-direction: column;
    height: 34px;
    width: 34px;
    align-items: center;
}

.active{
    border-radius: 2px;
    background: #BE272D;
}

.pageNavigation-button-num p{
    display: flex;
    width: 18px;
    padding-top: 4px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.active p{
    color: #FFF;
}