<div class="main-div">
    <div class="main-content">
        <div class="title-row">
            <p>Publicación</p>
            <img src="assets/images/seller/x.svg" alt="" (click)="close()">
        </div>
        <p class="name-price-text">Estufa a leña Neoflam grande - $70.000 CLP</p>
        <div class="content-container">
            <div class="images-content">
                <img src="assets/images/imagenes-productos/fotografi╠üa 1 estufa de len╠âa.jpg" alt="">
                <img src="assets/images/imagenes-productos/fotografi╠üa 2 estufa de len╠âa.jpg" alt="">
                <img src="assets/images/imagenes-productos/fotografi╠üa 3 estufa de len╠âa.jpg" alt="">
                <img src="assets/images/imagenes-productos/fotografi╠üa 4 estufa de len╠âa.jpg" alt="">
                <img src="assets/images/imagenes-productos/fotografi╠üa 1 estufa de len╠âa.jpg" alt="">
                <img src="assets/images/imagenes-productos/fotografi╠üa 2 estufa de len╠âa.jpg" alt="">
            </div>
            <div class="info-container">
                <p class="info-title">Especificación de artículo:</p>
                <p>Categoría: Hogar</p>
                <p>Comuna: R.metropolitana, San Bernardo</p>
                <p>Estado de producto: Usado-Como nuevo</p>
                <p>Medidas: 50 ancho, 63 fondo y 78 cm alto</p>
                <p>Peso: 100 kilos</p>
                <p>Estado: En venta</p>
                <p>Precio referencial: $100.000 CLP</p>
            </div>
        </div>
        <p class="description-text">
            Descripción de artículo:
            <br><br>
            Tiene 20 años, uso ocasional. Se realizó limpieza en cañón anual hasta 2021. Actualmente desinstalada. Incluye cañones para casa de 2 pisos, base acero Inox cuadrada para proteger el piso. Sirve para cualquier espacio del hogar.
        </p>
    </div>
    <div class="buttons-container">
        <button class="button-cancel" (click)="close()">Cancelar</button>
        <button class="button-edit" (click)="openDialog()">Editar</button>
    </div>
</div>