<div class="main-div">
  <div class="main-content">
    <div class="title-row">
      <p>Publicación</p>
      <img src="assets/images/seller/x.svg" alt="" (click)="close()" />
    </div>
    <p class="name-price-text">
      {{ post.title }} -
      {{ (post.price | currency : "CLP" : "$")?.replaceAll(",", ".") }} CLP
    </p>
    <div class="content-container">
      <div class="images-content">
        <img
          *ngFor="let item of post.ProductImages"
          src="{{ ruta + item.filePath }}"
          alt=""
        />
      </div>
      <div class="info-container">
        <p class="info-title">Especificación de artículo:</p>
        <p>Categoría: {{ post.category?.name }}</p>
        <p>Comuna: {{ post.state?.name }}, {{ post.city?.name }}</p>
        <p>Estado de producto: {{ post.condition }}</p>
        <p>
          Medidas: {{ post.width }} ancho, {{ post.length }} fondo y
          {{ post.height }} cm alto
        </p>
        <p>Peso: {{ post.weight }} kilos</p>
        <p>Stock: {{ post.stock }}</p>
        <p *ngIf="post.approved">Estado: {{ post.saleState }}</p>
        <p *ngIf="!post.approved">Estado: Aprobación pendiente</p>
        <p>
          Precio referencial:
          {{
            (post.referencialPrice | currency : "CLP" : "$")?.replaceAll(
              ",",
              "."
            )
          }}
          CLP
        </p>
      </div>
    </div>
    <p class="description-text">
      Descripción de artículo:
      <br /><br />
      {{ post.description }}
    </p>
    <button (click)="showQuestions(post)" class="ask-button">Preguntas</button>
  </div>
  <div class="buttons-container">
    <button class="button-cancel" (click)="close()">Cancelar</button>
    <button class="button-edit" (click)="openDialog(post)">Editar</button>
  </div>
</div>
