<div class="body">
  <img src="assets/images/imagenes-banner/ofertas -100.jpg" class="banner" />
  <!--<div class="offers-main-cards">
    <div class="offers-main-card">
      <img
        src="assets/images/imagenes-banner/ofertas mas populares.jpg"
        alt=""
      />
      <div class="offers-main-card-data">
        <div class="offers-main-card-title">
          <p>Ofertas más populares</p>
        </div>
        <button [routerLink]="['/offers2/']">
          <p>Ver más</p>
        </button>
      </div>
    </div>
    <div class="offers-main-card">
      <img
        src="assets/images/imagenes-banner/descuentostecnologia.jpg"
        alt=""
      />
      <div class="offers-main-card-data">
        <div class="offers-main-card-title">
          <p>Descuentos hasta un 50% en tecnología</p>
        </div>
        <button [routerLink]="['/offers2/']">
          <p>Ver más</p>
        </button>
      </div>
    </div>
    <div class="offers-main-card">
      <img
        src="assets/images/imagenes-banner/descuento en todos las marcas.jpg"
        alt=""
      />
      <div class="offers-main-card-data">
        <div class="offers-main-card-title">
          <p>Descuentos en todas las marcas</p>
        </div>
        <button [routerLink]="['/offers2/']">
          <p>Ver más</p>
        </button>
      </div>
    </div>
  </div>-->
  <div class="offers-group" *ngFor="let cat of categories">
    <div class="offers-group-title">
      <p>{{ cat.name }}</p>
      <div class="line">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1361"
          height="2"
          viewBox="0 0 1361 2"
          fill="none"
        >
          <path d="M0.50647 1.43701H1360.51" stroke="#BE272D" />
        </svg>
      </div>
    </div>

    <div class="offers-row">
      <div class="offer-card" *ngFor="let item of cat.products">
        <div class="offer-card-title">
          <div class="offer-tag">
            <p>Oferta</p>
          </div>
          <div class="offer-percent">
            <p>{{ item.discount > 0 ? item.discount + "%" : "" }}</p>
          </div>
        </div>
        <img src="{{ ruta + item.ProductImages?.at(1)?.filePath }}" alt="" />
        <p class="offer-before">
          Antes
          {{ item.referencialPrice | currency : "CLP" : "symbol-narrow" }} CLP
        </p>
        <p class="offer-price">
          {{ item.price | currency : "CLP" : "symbol-narrow" }} CLP
        </p>
        <p class="offer-description">{{ item.title.toUpperCase() }}</p>
        <button class="offer-button" [routerLink]="['/product', item.id]">
          <p>Ver más</p>
        </button>
      </div>
    </div>

    <button class="more-button" [routerLink]="['/offers2/', cat.id]">
      <p>Ver más productos</p>
    </button>
  </div>
</div>
